<div class="container">
    {{> header}}
    <div class="details-box">
        <span class="titlebar">{{team.name}} details</span>
        <span class="spanner">Team members</span>
        <div>
            {{#each team.members}}
            <div class="member">{{this}}</div>
            {{else}}
            <p>No member info</p>
            {{/each}}
        </div>
        <span class="spanner">Description</span>
        {{#if team.comment}}
        <p>{{team.comment}}</p>
        {{else}}
        <p>No description</p>
        {{/if}}
        <span class="spanner">Team management</span>
        {{#if isAuthor}}
        <a href="#/edit/{{team.teamId}}" class="btn btn-default">Edit Info</a>
        {{/if}}
        {{#if isOnTeam}}
        <a href="#/leave/{{team.teamId}}" class="btn btn-default">Leave Team</a>
        {{else}}
        <a href="#/join/{{team.teamId}}" class="btn btn-default">Join Team</a>
        {{/if}}
    </div>
</div>

{{> footer}}